body { margin: 0 }

/*WelcomePage*/

/*.Overlay {
  background-color: #5a6af6;
  position:fixed;
  width:100%;
  height:100%;
  z-index:1000;
}

.Container {

  display: flex;
  justify-content: left;
}

.board2 {
  padding-top: 10px;
  padding-right: 50px;
  width: 500px;
  height: 500px;
}

.textButton {
  width: 400px;
  
}/*

/*Test*/
/*.page {
  background-color: #edf0f6;
  position:fixed;
  width:100%;
  height:100%;
  z-index:1000;
}
  
.container4 {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.testFirstQuestion {
    text-align: center;
    padding: 100px;
}

.sectionPart {
  padding: 10px;
}

.button5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  
}

.welc {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.welcButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.section2Part {
  margin: 5px;
}

  .item5 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 30px;
  }


  .button-text {
    height: 300px; 
  
    display: flex;
    flex-direction: column;
    
  }

.introText {
    width: 250px;
}

.nextPuzzle {
  width: 250px;
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 950px;
}

.block1 {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item1 {
  padding-right: 50px;
  width: 300px;
}

.sect1 {
padding-bottom: 20px;
}

.block2 {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

#youngMe {
  width: 382px;
  height: 560px;
}

.block3 {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.block4 {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
*/
